/* mobile view */
/* body */
body {
    font-family: 'Courier New', Courier, monospace;
}

/* map */
#map {
    width: 90%;
    aspect-ratio: 1/1;
    margin: auto;
}

/* skip to main */
.skip {
    position: absolute;
    top: -100px;
    left: 20px;
    background-color: white;
    border: 2px solid black;
    color: #E60012;
    padding: 5px;
}

.skip:focus {
    top: 20px;
}

/* header */
header {
    background-color: #E60012;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-size: 25px;
    font-weight: bolder;
    padding: 10px;
    text-align: center;
}

/* nav bar */
nav {
    padding: 10px 0;
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

nav a {
    padding: 5px;
    color: white;
    text-decoration: none;
}

.active {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    background-color: white;
    color: #E60012;
}

/* main */
main {
    padding: 20px;
}

h2 {
    font-weight: bold;
    padding-bottom: 10px;
}

p {
    padding-bottom: 10px;
}

/* footer */
footer {
    padding: 20px;
    text-align: center;
}

/* back to top */
.back-to-top {
    display: none;
    position: fixed;
    right: 0;
    bottom: 10px;
    background-color: #E60012;
    color: white;
    border: none;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    width: 65px;
    text-wrap: wrap;
}

/* reduced motion */
@media (prefers-reduced-motion) {
    /* styles to apply if a user's device settings are set to reduced motion */

}

/* tablet view */
@media screen and (min-width: 768px) {
    nav ul{
        flex-direction: row;
        justify-content: space-around;
    }

    main {
        padding: 20px 100px;
    }

    #map {
        width: 100%;
        height: 500px;
    }

    .back-to-top {
        width: auto;
        bottom: 20px;
    }
}

/* Desktop view */
@media screen and (min-width: 1024px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    nav {
        width: auto;
        padding-right: 20px;
    }

    main {
        padding: 20px 15vw;
    }
}